.markdown { background-color: rgb(247, 115, 185); width: calc(100% / 12 * 4); }


.listOutputDiv { }

li { list-style-type: none; display: inline-block; width: calc(100% / 12 * 6);}
.btn {  display: inline-block;}
button { display: inline-block; margin-bottom: 0.5em;  } 